.cc-mobile-btn-login{
    position: absolute;
    top:0;
    left: 0;
}
.cc-socialicon{
    max-width: 20px;
}
.cc-image-with-text{
    position: relative;
}
.cc-category-title-h{
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
}
.cc-category-title-ac{
    color: white;
    letter-spacing: -1px;
    background: #3e952d;
    padding: 10px;
}
.cc-category-title-tr{
    color: white;
    letter-spacing: -1px;
    background: #49034c;
    padding: 10px;
}
.cc-category-title-ft{
    color: white;
    letter-spacing: -1px;
    background: #d05b18;
    padding: 10px;
}
.cc-blog-comment-date {
    font-size: 11px;
}
.cc-keep-line-breaks {
    white-space: pre-wrap;
}
.cc-blog-image {
    max-height: 80%;
}
.cc-blog-title {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    color: white;
    letter-spacing: -1px;
    background: rgba(0,0,0,0.7);
    padding: 10px;
}
.cc-blog-keywords{
    font-size: 12px;
}
.cc-teacher-picture-list {
    max-height: 150px;
}
.cc-pictures-lesson-booking {
    max-height: 150px;
}
.cc-score-stars {
    margin: 0 !important;
}
.cc-slider-text {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    letter-spacing: -1px;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .cc-slider-text {
        top: 0;
    }
    .cc-slider-text h4 {
        font-size: 1.8rem;
    }
}
.cc-slider-text-blog {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    letter-spacing: -1px;
    padding: 10px;
    background: rgba(0,0,0,0.7);
}
.cc-nav {
    background-color: #000000;
    height: 87px;
}
.cc-nav-element {
    top: 10px;
}
.cc-nav-element {
    top: 10px;
}
a.cc-nav-element {
    margin-top: 12px;
}
a.cc-nav-element:hover  {
    background-color: #46C01F;
}
.cc-course-info-img {
    width: 50%;
}
.cc-home-img {
    width: 50%;
}
.side-nav {
    max-height: 100%;
    overflow-y: auto;
}
.cc-corporate-orange-text {
    color: #ff7b0f;
}
.cc-corporate-orange {
     background-color: #ff7b0f;
 }
a.cc-corporate-orange:hover {
    background-color: #c5630e;
}
.cc-corporate-green-text {
    color: #46C01F;
}
.cc-corporate-green {
    background-color: #46C01F;
}
a.cc-corporate-green:hover {
    background-color: #3f9c1d;
}
.cc-corporate-purple-text {
    color: #8014ba;
}
.cc-corporate-purple {
    background-color: #8014ba;
}
a.cc-corporate-purple:hover {
    background-color: #581084;
}
.cc-corporate-blue-text {
    color: #00053f;
}
.cc-corporate-blue {
    background-color: #00053f;
}
.cc-corporate-blue:hover {
    background-color: #000577;
}
.cc-edit-user-picture-modal {
    max-height: 250px;
    max-width: 300px;
}
.cc-input-star {
    cursor: pointer;
}
.cc-font-title {
    font-family: 'Acme', 'Roboto', sans-serif;
}
.cc-instruction-img {
    width: 150px;
}
.cc-category-img {
    width: 75%;
}
.cc-welcome-button {
    height: auto;
    min-height: 20px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 10px;
}
.cc-welcome-space {
    position: relative;
}
.cc-welcome-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cc-message-date {
    font-size: 11px;
    color: rgba(112,125,125,0.76);
}
.cc-messages-area {
    height: 400px;
    overflow: auto;
}
.cc-message-card {
    padding-top: 2px;
    padding-bottom: 2px;
}
.cc-welcome-sections-border {
    border-style: dotted;
}
.cc-corporate-green-background {
    background-color: #6be544;
}
.cc-corporate-orange-background {
    background-color: #ff943d;
}
.cc-corporate-purple-background {
    background-color: #ae71ce;
}
.cc-category-text {
    font-size: 20px;
}
html {
    font-family: 'Montserrat', sans-serif;
}
strong { 
    font-weight: bold; 
}