nav {
    height: 190px;
    line-height: 190px;
}
.cc_btn{
    width: 100%;
    background-color: #d05b18;
}
.cc_btn:hover{
    background-color: #49034c;
}
.cc_btn_menu{
    width: 100%;
    background-color: #49034c;
}
.cc_btn_menu:hover{
    background-color: #d05b18;
}
.cc_searchbar{
    height: 70px;
}
.cc_socialicon{
    max-width: 20px;
}
.cc_category_image{
    position: relative;
}
.cc_category_title_h{
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
}
.cc_category_title_ac{
    color: white;
    letter-spacing: -1px;
    background: #3e952d;
    padding: 10px;
}
.cc_category_title_tr{
    color: white;
    letter-spacing: -1px;
    background: #49034c;
    padding: 10px;
}
.cc_category_title_ft{
    color: white;
    letter-spacing: -1px;
    background: #d05b18;
    padding: 10px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.carousel-slider {
    height: 330px !important;
}