.cc-mobile-btn-login{
    position: absolute;
    top:0;
    left: 0;
}
.cc-socialicon{
    max-width: 20px;
}
.cc-image-with-text{
    position: relative;
}
.cc-category-title-h{
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
}
.cc-category-title-ac{
    color: white;
    letter-spacing: -1px;
    background: #3e952d;
    padding: 10px;
}
.cc-category-title-tr{
    color: white;
    letter-spacing: -1px;
    background: #49034c;
    padding: 10px;
}
.cc-category-title-ft{
    color: white;
    letter-spacing: -1px;
    background: #d05b18;
    padding: 10px;
}
.cc-blog-comment-date {
    font-size: 11px;
}
.cc-keep-line-breaks {
    white-space: pre-wrap;
}
.cc-blog-image {
    max-height: 80%;
}
.cc-blog-title {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    color: white;
    letter-spacing: -1px;
    background: rgba(0,0,0,0.7);
    padding: 10px;
}
.cc-blog-keywords{
    font-size: 12px;
}
.cc-teacher-picture-list {
    max-height: 150px;
}
.cc-pictures-lesson-booking {
    max-height: 150px;
}
.cc-score-stars {
    margin: 0 !important;
}
.cc-slider-text {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    letter-spacing: -1px;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .cc-slider-text {
        top: 0;
    }
    .cc-slider-text h4 {
        font-size: 1.8rem;
    }
}
.cc-slider-text-blog {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    letter-spacing: -1px;
    padding: 10px;
    background: rgba(0,0,0,0.7);
}
.cc-nav {
    background-color: #00053f;
    height: 87px;
}
.cc-nav-element {
    top: 10px;
}
.cc-nav-element {
    top: 10px;
}
a.cc-nav-element {
    margin-top: 12px;
}
a.cc-nav-element:hover  {
    background-color: #000577;
}
.cc-course-info-img {
    width: 50%;
}
.cc-home-img {
    width: 50%;
}
.side-nav {
    max-height: 100%;
    overflow-y: auto;
}