.i-mobile-btn-login{
    position: absolute;
    top:0;
    left: 0;
}
.i-socialicon{
    max-width: 20px;
}
.i-image-with-text{
    position: relative;
}
.i-category-title-h{
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
}
.i-category-title-ac{
    color: white;
    letter-spacing: -1px;
    background: #3e952d;
    padding: 10px;
}
.i-category-title-tr{
    color: white;
    letter-spacing: -1px;
    background: #49034c;
    padding: 10px;
}
.i-category-title-ft{
    color: white;
    letter-spacing: -1px;
    background: #d05b18;
    padding: 10px;
}
.i-blog-comment-date {
    font-size: 11px;
}
.i-keep-line-breaks {
    white-space: pre-wrap;
}
.i-blog-image {
    max-height: 80%;
}
.i-blog-title {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    color: white;
    letter-spacing: -1px;
    background: rgba(0,0,0,0.7);
    padding: 10px;
}
.i-blog-keywords{
    font-size: 12px;
}
.i-teacher-picture-list {
    max-height: 150px;
}
.i-pictures-lesson-booking {
    max-height: 150px;
}
.i-score-stars {
    margin: 0 !important;
}
.i-slider-text {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    letter-spacing: -1px;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .i-slider-text {
        top: 0;
    }
    .i-slider-text h4 {
        font-size: 1.8rem;
    }
}
.i-slider-text-blog {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    letter-spacing: -1px;
    padding: 10px;
    background: rgba(0,0,0,0.7);
}
.i-nav {
    background-color: #000000;
    height: 87px;
}
.i-nav-element {
    top: 10px;
}
.i-nav-element {
    top: 10px;
}
a.i-nav-element {
    margin-top: 12px;
}
a.i-nav-element:hover  {
    background-color: #46C01F;
}
.i-course-info-img {
    width: 30%;
}
.i-home-img {
    width: 50%;
}
.side-nav {
    max-height: 100%;
    overflow-y: auto;
}
.i-corporate-orange-text {
    color: #ff7b0f;
}
.i-corporate-orange {
     background-color: #ff7b0f;
 }
a.i-corporate-orange:hover {
    background-color: #c5630e;
}
.i-corporate-green-text {
    color: #46C01F;
}
.i-corporate-green {
    background-color: #46C01F;
}
a.i-corporate-green:hover {
    background-color: #3f9c1d;
}
.i-corporate-purple-text {
    color: #8014ba;
}
.i-corporate-purple {
    background-color: #8014ba;
}
a.i-corporate-purple:hover {
    background-color: #581084;
}
.i-corporate-blue-text {
    color: #00053f;
}
.i-corporate-blue {
    background-color: #00053f;
}
.i-corporate-blue:hover {
    background-color: #000577;
}
.i-edit-user-picture-modal {
    max-height: 250px;
    max-width: 300px;
}
.i-input-star {
    cursor: pointer;
}
.i-font-title {
    font-family: 'Acme', 'Roboto', sans-serif;
}
.i-instruction-img {
    width: 150px;
}
.i-category-img {
    width: 75%;
}
.i-welcome-button {
    height: auto;
    min-height: 20px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 10px;
}
.i-welcome-space {
    position: relative;
}
.i-welcome-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.i-message-date {
    font-size: 11px;
    color: rgba(112,125,125,0.76);
}
.i-messages-area {
    height: 400px;
    overflow: auto;
}
.i-message-card {
    padding-top: 2px;
    padding-bottom: 2px;
}
.i-welcome-sections-border {
    border-style: dotted;
}
.i-corporate-green-background {
    background-color: #6be544;
}
.i-corporate-orange-background {
    background-color: #ff943d;
}
.i-corporate-purple-background {
    background-color: #ae71ce;
}
.i-category-text {
    font-size: 20px;
}
html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
header {
    min-height: 87px;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top:auto;
}
strong { 
    font-weight: bold; 
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.purple-background {
    background-color: #ead2f7;
}
.green-background {
    background-color: #b9efa7;
}
.i-border-card {
    border: 2px solid;
    border-color: #000000;
}
.i-no-margin {
    margin: 0;
}
.i-blog-editor-button {
    cursor: pointer;
}
.i-blog-image-edition {
    width: 200px;
}
.i-blog-text {
    font-size: 20px;
}
.i-landing-background {
    background: url('../img/I1.png') no-repeat;
    background-size: cover;
}
.i-landing-virtual-background {
    background: url('../img/IV2.png') no-repeat;
    background-size: cover;
}
.i-wide-button {
    width: 100%;
}
.i-whatsapp-green {
    background-color: #075e54;
}