<%- include header.ejs %>

<main>
	<div class="container">
		<div class="row">
			<div class="col l6 m6 s12">
				<img class="responsive-img" src="http://marshacannon.org/wp-content/uploads/2014/09/td4.jpg">
			</div>
			<div class="col l6 m6 s12">
				<p class="flow-text">Oops! La página que estás buscando no existe, asegúrate de que sea correcta</p>
				<br>
				<p class="flow-text">Si es error nuestro, <a href="/contactenos">avísanos</a></p>
			</div>
		</div>
	</div>
</main>

<%- include footer.ejs %>