<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row">
            <h4><strong>ACERCA DE NOSOTROS</strong></h4>
            <div class="col l6">
                <img src="/img/logo_black.png" class="responsive-img">
            </div>
            <div class="col l6">
                <p class="flow-text">
                    INSTRUCTORIO.COM es una plataforma web donde podrás encontrar profesores particulares dentro de nuestras tres categorías:
                    Académico, Tiempo libre y Entrenamiento físico, para que elijas el curso o clase de tu preferencia,
                    y lo tomes desde la comodidad de tu casa.
                </p>
            </div>
        </div>
    </div>
</main>

<%- include footer.ejs %>