<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row">
            <h4 class="indigo-text">Acerca de Nosotros</h4>
            <div class="col l6">
                <img src="/img/cursoclub_logo.png" class="responsive-img">
            </div>
            <div class="col l6">
                <p class="black-text text-lighten-4">
                    CURSOCLUB.COM es una plataforma web donde podrás encontrar profesores particulares dentro de nuestras tres categorías:
                    Académico, Tiempo libre y Entrenamiento físico, para que elijas el curso o clase de tu preferencia,
                    y lo tomes desde la comodidad de tu casa.
                </p>
            </div>
        </div>
    </div>
</main>

<%- include footer.ejs %>