<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row">
            <h4><strong>SOBRE NOSOTROS</strong></h4>
            <div class="col l12">
                <img src="/img/logo_black.png" class="responsive-img">
            </div>
            <div class="col l12" align="justify">
                <h4 class="center"><strong>¿Qué es Instructorio?</strong></h4>
                <p class="flow-text">
                    Es una plataforma que pone en contacto a instructores que ofrecen clases particulares de diversas
                    áreas, con usuarios interesados en tomar dichos servicios. Instructorio pone a disposición de los
                    instructores un espacio para dar a conocer sus servicios de forma gratuita y permite a los usuarios
                    elegir libremente a la persona que más se adecúe a sus necesidades.
                </p>
                <h4 class="center"><strong>¿Quiénes somos?</strong></h4>
                <p class="flow-text">
                    Somos un equipo multidisciplinario de tres emprendedores colombianos, apoyados por la Cámara de
                    Comercio de Bogotá y la Universidad EAN.
                    Con esta iniciativa, buscamos que todos aquellos que estén interesados en compartir sus habilidades
                    y conocimientos con otros, tengan la oportunidad de hacerlo de forma segura y fácil; aprovechando
                    el tiempo y generando ingresos extra al mismo tiempo.
                    Además, queremos facilitar la búsqueda de este tipo de servicios a todos los usuarios interesados
                    en reforzar sus aptitudes, en aprender algo nuevo o en mejorar su estado físico.
                </p>
            </div>
        </div>
    </div>
</main>

<%- include footer.ejs %>