<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row" align="center">
            <h4><strong>¡ESTO TE PUEDE INTERESAR!</strong></h4>
        </div>
        <% if (user && user.role === 1) { %>
        <h4>Administración</h4>
        <a class="btn" href="/blog/create"><i class="material-icons left">library_add</i>Nueva entrada</a>
        <br>
        <br>
        <div class="divider"></div>
        <% } %>
        <%- include blogEntry_cards.ejs %>
    </div>
</main>

<%- include footer.ejs %>