<h4 class="header center cc-corporate-orange-text cc-font-title">Explora nuestras tres categorías</h4>
<ul class="collection">
    <li class="collection-item avatar">
        <a href="/cursos?category=Tiempo libre">
            <img class="circle" src="/img/academico.jpg">
            <h5 class="cc-corporate-green-text">Académico</h5>
            <p class="black-text cc-category-text"><strong>¿Necesitas ayuda en algún área específica?</strong> Encuentra cursos personalizados
                de refuerzo académico para estudiantes que presenten dificultades o quieran profundizar en alguna materia.</p>
        </a>
    </li>
    <li class="collection-item avatar">
        <a href="/cursos?category=Tiempo libre">
            <img class="circle" src="/img/tiempolibre.jpg">
            <h5 class="cc-corporate-orange-text">Tiempo Libre</h5>
            <p class="black-text cc-category-text"><strong>¿Te gustaría aprovechar tu tiempo libre aprendiendo algo nuevo?</strong> Descubre las
                mejores actividades extracurriculares.</p>
        </a>
    </li>
    <li class="collection-item avatar">
        <a href="/cursos?category=Entrenamiento físico">
            <img class="circle" src="/img/entrenamiento.jpg">
            <h5 class="cc-corporate-purple-text">Entrenamiento Físico</h5>
            <p class="black-text cc-category-text"><strong>¿Estás interesado en mejorar tu estado físico?</strong> Solicita entrenamiento personalizado
                y actividades para mejorar tu salud.</p>
        </a>
    </li>
</ul>