<div class="container">
    <!--<div class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <a href="/courses?category=Deporte"><img class="responsive-img" src="/img/sporty.png"></a>
                </div>
                <div class="card-content">
                    <span class="card-title">Deportes</span>
                    <p>Encuentra aquí entrenadores personales y clases personalizadas para mejorar o mantener tu estado
                        y rendimiento físico.</p>
                </div>
                <div class="card-action">
                    <form method="get" action="/courses">
                        <button class="waves-effect waves-red btn-flat green-text" type="submit" name="category" value="Deporte">Deporte</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <a href="/courses?category=Tiempo libre"><img class="responsive-img" src="/img/free-time.png"></a>
                </div>
                <div class="card-content">
                    <span class="card-title">Tiempo libre</span>
                    <p>Encuentra aquí cursos personalizados de las actividades extracurriculares para aprovechar
                        tu tiempo libre.</p>
                </div>
                <div class="card-action">
                    <form method="get" action="/courses">
                        <button class="waves-effect waves-yellow btn-flat green-text" type="submit" name="category" value="Tiempo libre">Tiempo libre</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <a href="/courses?category=Académico"><img src="/img/academic.png"></a>
                </div>
                <div class="card-content">
                    <span class="card-title">Académico</span>
                    <p>Encuentra aquí cursos personalizados de refuerzo académico para estudiantes que presenten
                        dificultades o quieran profundizar en alguna materia en particular.</p>
                </div>
                <div class="card-action">
                    <form method="get" action="/courses">
                        <button class="waves-effect waves-purple btn-flat green-text" type="submit" name="category" value="Académico">Académico</button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col s12 m4 l4">
            <a href="/courses?category=Académico"><img class="responsive-img circle" src="/img/pencil2.png" style="max-width: 80%"></a>
            <span class="card-title">Académico</span>
            <p>Encuentra aquí cursos personalizados de refuerzo académico para estudiantes que presenten
                dificultades o quieran profundizar en alguna materia en particular.</p>
            <form method="get" action="/courses">
                <button class="waves-effect waves-purple btn-flat green-text" type="submit" name="category" value="Académico">Académico</button>
            </form>
        </div>
        <div class="col s12 m4 l4">
                    <a href="/courses?category=Tiempo libre"><img class="responsive-img circle" src="/img/free-time.png"></a>
                    <span class="card-title">Tiempo libre</span>
                    <p>Encuentra aquí cursos personalizados de las actividades extracurriculares para aprovechar
                        tu tiempo libre.</p>
                    <form method="get" action="/courses">
                        <button class="waves-effect waves-yellow btn-flat green-text" type="submit" name="category" value="Tiempo libre">Tiempo libre</button>
                    </form>
            </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <a href="/courses?category=Entrenamiento físico"><img class="responsive-img" src="/img/sporty.png"></a>
                </div>
                <div class="card-content">
                    <span class="card-title">Entrenamiento físico</span>
                    <p>Encuentra aquí entrenadores personales y clases personalizadas para mejorar o mantener tu estado
                        y rendimiento físico.</p>
                </div>
                <div class="card-action">
                    <form method="get" action="/courses">
                        <button class="waves-effect waves-red btn-flat green-text" type="submit" name="category" value="Deporte">Deporte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>