<h4 class="header center cc-corporate-green-text">Explora nuestras tres categorías</h4>
<div class="row">
    <div class="col s12 m4 l4" align="justify">
        <div class="cc-image-with-text">
            <a href="/cursos?category=Académico" class="hoverable"><img class="responsive-img" src="/img/academico.jpeg">
                <h5 class="cc-category-title-h"><span class="cc-category-title-ac">Académico</span></h5></a>
        </div>
        <p class="flow-text"><strong>¿Necesitas ayuda en algún área específica?</strong> Encuentra cursos personalizados
            de refuerzo académico para estudiantes que presenten dificultades o quieran profundizar en alguna materia.</p>
    </div>
    <div class="col s12 m4 l4" align="justify">
        <div class="cc-image-with-text">
            <a href="/cursos?category=Tiempo libre" class="hoverable"><img class="responsive-img" src="/img/tiempolibre.jpeg">
                <h5 class="cc-category-title-h"><span class="cc-category-title-ft">Tiempo Libre</span></h5></a>
        </div>
        <p class="flow-text"><strong>¿Te gustaría aprovechar tu tiempo libre aprendiendo algo nuevo?</strong> Descubre las
            mejores actividades extracurriculares.</p>
    </div>
    <div class="col s12 m4 l4">
        <div class="cc-image-with-text" align="justify">
            <a href="/cursos?category=Entrenamiento físico" class="hoverable"><img class="responsive-img" src="/img/entrenamiento.jpeg">
                <h5 class="cc-category-title-h"><span class="cc-category-title-tr">Entrenamiento Físico</span></h5></a>
        </div>
        <p class="flow-text"><strong>¿Estás interesado en mejorar tu estado físico?</strong> Solicita entrenamiento personalizado
            y actividades para mejorar tu salud.</p>
    </div>
</div>