<div class="container">
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="cc_category_image">
                <a href="/courses?category=Académico"><img class="responsive-img" src="/img/academic.jpg">
                    <h5 class="cc_category_title_h"><span class="cc_category_title_ac">Académico</span></h5></a>
                <p>Encuentra aquí cursos personalizados de refuerzo académico para estudiantes que presenten
                    dificultades o quieran profundizar en alguna materia en particular.</p>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="cc_category_image">
                <a href="/courses?category=Tiempo libre"><img class="responsive-img" src="/img/free-time.jpg">
                    <h5 class="cc_category_title_h"><span class="cc_category_title_ft">Tiempo Libre</span></h5></a>
                <p>Encuentra aquí cursos personalizados de las actividades extracurriculares para aprovechar
                    tu tiempo libre.</p>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="cc_category_image">
                <a href="/courses?category=Entrenamiento físico"><img class="responsive-img" src="/img/sporty.jpg">
                    <h5 class="cc_category_title_h"><span class="cc_category_title_tr">Entrenamiento Físico</span></h5></a>
                <p>Encuentra aquí entrenadores personales y clases personalizadas para mejorar o mantener tu estado
                    y rendimiento físico.</p>
            </div>
        </div>
    </div>
</div>