<h4 class="header center blue-text">Explora nuestras tres categorías</h4>
<div class="row">
    <div class="col s12 m4 l4" align="justify">
        <div class="cc_category_image">
            <a href="/cursos?category=Académico" class="hoverable"><img class="responsive-img" src="/img/academico.jpeg">
                <h5 class="cc_category_title_h"><span class="cc_category_title_ac">Académico</span></h5></a>
        </div>
        <p>¿Necesitas ayuda en algún área específica? Encuentra cursos personalizados de refuerzo académico para estudiantes que presenten
            dificultades o quieran profundizar en alguna materia.</p>
    </div>
    <div class="col s12 m4 l4" align="justify">
        <div class="cc_category_image">
            <a href="/cursos?category=Tiempo libre" class="hoverable"><img class="responsive-img" src="/img/tiempolibre.jpeg">
                <h5 class="cc_category_title_h"><span class="cc_category_title_ft">Tiempo Libre</span></h5></a>
        </div>
        <p>¿Te gustaría aprovechar tu tiempo libre aprendiendo algo nuevo? Descubre las mejores actividades extracurriculares.</p>
    </div>
    <div class="col s12 m4 l4">
        <div class="cc_category_image" align="justify">
            <a href="/cursos?category=Entrenamiento físico" class="hoverable"><img class="responsive-img" src="/img/entrenamiento.jpeg">
                <h5 class="cc_category_title_h"><span class="cc_category_title_tr">Entrenamiento Físico</span></h5></a>
        </div>
        <p>¿Estás interesado en mejorar tu estado físico? Solicita entrenamiento personalizado y actividades para mejorar tu salud.</p>
    </div>
</div>