<h4 class="header center"><strong>EXPLORA NUESTRAS TRES CATEGORÍAS</strong></h4>
<div class="row" align="center">
    <div class="col l6">
        <a href="/cursos?category=Entrenamiento físico">
            <img class="circle responsive-img" src="/img/entrenamiento.jpg" style="max-width: 50%">
            <h5 class="black-text"><strong>ENTRENAMIENTO FÍSICO</strong></h5>
            <p class="black-text i-category-text">
                <strong>¿Estás interesado en mejorar tu estado físico?</strong> Solicita entrenamiento personalizado
                y actividades para mejorar tu salud.
            </p>
        </a>
    </div>
    <div class="col l6">
        <a href="/cursos?category=Tiempo libre">
            <img class="circle responsive-img" src="/img/tiempolibre.jpg" style="max-width: 50%">
            <h5 class="black-text"><strong>TIEMPO LIBRE</strong></h5>
            <p class="black-text i-category-text">
                <strong>¿Te gustaría aprovechar tu tiempo libre aprendiendo algo nuevo?</strong> Descubre las
                mejores actividades extracurriculares.
            </p>
        </a>
    </div>
</div>
<div class="row" align="center">
    <div class="col l6 offset-l3">
        <a href="/cursos?category=Academico">
            <img class="circle responsive-img" src="/img/academico.jpg" style="max-width: 50%">
            <h5 class="black-text"><strong>ACADÉMICO</strong></h5>
            <p class="black-text i-category-text">
                <strong>¿Necesitas ayuda en algún área específica?</strong> Encuentra cursos personalizados
                de refuerzo académico para estudiantes que presenten dificultades o quieran profundizar en alguna materia.
            </p>
        </a>
    </div>
</div>