<%- include header.ejs %>

<main>
    <div class="container">
        <form method="post" action="" name="main" id="main">
            <div class="input-field">
                <input type="text" name="title" id="title" required>
                <label for="title">Título</label>
            </div>
            <div class="input-field">
                <textarea class="materialize-textarea" name="body" id="body" required></textarea>
                <label for="body">Contenido</label>
            </div>
            <div class="input-field">
                <input type="text" name="author" id="author" required>
                <label for="description">Autor</label>
            </div>
            <div class="input-field">
                <input type="text" name="keywords" id="keywords">
                <label for="keywords">Palabras clave</label>
            </div>
            <button class="waves-effect waves-light btn blue" type="submit" value="Aceptar">Guardar</button>
        </form>
    </div>
</main>

<%- include footer.ejs %>