<%- include header.ejs %>

<main>
    <div class="container">
        <form method="post" action="" name="main" id="main">
            <div class="input-field">
                <input type="text" name="name" id="name" required>
                <label for="name">Nombre</label>
            </div>
            <div class="input-field">
                <input type="text" name="idName" id="idName" required>
                <label for="idName">Nombre identificador</label>
            </div>
            <label class="select-label" for="category">Categoría</label>
            <div class="input-field">
                <select class="" id="category" name="category" form="main" required>
                    <option value="" disabled selected>Seleccionar</option>
                    <option value="Académico">Académico</option>
                    <option value="Entrenamiento físico">Entrenamiento físico</option>
                    <option value="Tiempo libre">Tiempo libre</option>
                    <option value="Tiempo libre">Virtual</option>
                </select>
            </div>
            <div class="input-field">
                <input type="text" name="description" id="description" required>
                <label for="description">Descripción</label>
            </div>
            <div class="input-field">
                <input type="text" name="requirement" id="requirement">
                <label for="requirement">Requisitos</label>
            </div>
            <div class="input-field">
                <input type="text" name="keywords" id="keywords">
                <label for="keywords">Palabras clave</label>
            </div>
            <div class="input-field">
                <input type="text" name="externalLink" id="keywords">
                <label for="externalLink">Enlace externo</label>
            </div>
            <div align="center">
                <button class="waves-effect waves-light btn blue" type="submit" value="Aceptar">Aceptar</button>
            </div>
        </form>
    </div>
</main>

<%- include footer.ejs %>