<br>
<div class="row">
    <div class="col l6 m6 s6" align="center">
        <% if (environment === 'v' || environment === 'i') { %>
            <% if (user) { %>
        <a class="waves-effect btn-large i-corporate-purple waves-light" href="/home">Clases particulares</a>
            <% } else { %>
        <a class="waves-effect btn-large i-corporate-purple waves-light" href="/?env=n">Clases particulares</a>
        <% } } else { %>
        <a class="waves-effect btn-large waves-light disabled" href="/?env=n">Clases particulares</a>
        <% } %>
    </div>
    <div class="col l6 m6 s6" align="center">
        <% if (environment === 'v') { %>
        <a class="waves-effect btn-large waves-light disabled" href="/?env=v">Virtuales</a>
        <% } else { %>
        <a class="waves-effect btn-large i-corporate-green waves-light" href="/?env=v">Virtuales</a>
        <% } %>
    </div>
</div>