<br><br>
<footer class="page-footer grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Sobre Nosotros</h5>
                <p class="black-text text-lighten-4">CURSOCLUB.COM es una plataforma web donde podrás encontrar
                    profesores particulares dentro de nuestras tres categorías: Académico, Tiempo libre y Entrenamiento
                    físico, para que elijas el curso o clase de tu preferencia, y lo tomes desde la comodidad de tu casa.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="black-text">Encuéntranos</h5>
                <ul>
                    <li><a class="black-text" href="https://www.youtube.com/channel/UCNu_rZcfh8Y13jkYPDpRSew?view_as=subscriber">YouTube</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="black-text">Contáctanos</h5>
                <ul>
                    <li><p class="black-text">Si tienes alguna duda, pregunta, sugerencia o inconveniente ¡no dudes en
                            contactarnos!</p></li>
                    <li><p class="black-text" href="#!"><img src="/img/whatsapp.png" class="cc_socialicon"> 3213437814 - 3212388837 - 3008274541</p></li>
                    <li><a class="black-text" href="/contactus"><i class="material-icons black-text">email</i> Correo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <%= new Date().getFullYear() %> - Curso Club
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
</body>
</html>