<br><br>
<footer class="page-footer blue-grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sobre Nosotros</h5>
                <p class="grey-text text-lighten-4">CURSOCLUB.COM es una plataforma web donde podrás encontrar
                    profesores particulares dentro de nuestras tres categorías: Académico, Tiempo libre y Entrenamiento
                    físico, para que elijas el curso o clase de tu preferencia, y lo tomes desde la comodidad de tu casa.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Encuéntranos</h5>
                <ul>
                    <li><a class="white-text" href="#!"><img src="/img/facebook.png" style="max-width: 20px"> Facebook</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                    <li><a class="white-text" href="#!">YouTube</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contáctanos</h5>
                <ul>
                    <li><p class="white-text">Si tienes alguna duda, pregunta, sugerencia o inconveniente ¡no dudes en
                            contactarnos!</p></li>
                    <li><a class="white-text" href="#!"><img src="/img/whatsapp.png" style="max-width: 20px"> 3501234567</a></li>
                    <li><a class="white-text" href="/contactus"><i class="material-icons black-text">email</i> Correo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Bogotá - 2017
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
</body>
</html>