<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row">
            <div class="col l4">
                    <a href="/contactus" class="btn cc_btn_menu">Contáctanos</a>
            </div>
                  <div class="col l4">
                    <a href="/contactus" class="btn cc_btn_menu">Nosotros</a>
                  </div>
            <div class="col l4">
                    <a href="/contactus" class="btn cc_btn_menu">Blog</a>
            </div>


        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="carousel carousel-slider" data-indicators="true">
                    <div class="carousel-item">
                        <a href="#one!"><img src="/img/learn.png"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#two!"><img src="/img/pencils.png"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#three!"><img src="/img/painting.png"></a>
                    </div>
                    <a class="prev" onclick="prevSlide()">&#10094;</a>
                    <a class="next" onclick="nextSlide()">&#10095;</a>
                </div>
            </div>

        </div>
        <br><br>
    </div>

    <%- include category_list.ejs %>

    <div class="container">
        <h4 class="header center green-text">Aprende más sobre Curso Club</h4>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HWp5ljXyIN4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</main>

<%- include footer.ejs %>