<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row btn-block">
            <div class="col l4 m4 s12 cc_div_menu" style="padding-bottom: 20px">
                <a href="/contactus" class="btn cc_btn_menu">Contáctanos</a>
            </div>
            <div class="col l4 m4 s12 cc_div_menu" style="padding-bottom: 20px">
                <a href="#" class="btn cc_btn_menu">Nosotros</a>
            </div>
            <div class="col l4 m4 s12" style="padding-bottom: 20px">
                <a href="#" class="btn cc_btn_menu tooltipped" data-position="top" data-delay="50" data-tooltip="Proximamente">Blog</a>
            </div>


        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="carousel carousel-slider" data-indicators="true">
                    <div class="carousel-item">
                        <a href="/login"><img src="/img/car1.jpeg" class="responsive-img cc_car_img"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="/courses"><img src="/img/car3.jpeg" class="responsive-img cc_car_img"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#nosotros"><img src="/img/car2.jpeg" class="responsive-img cc_car_img"></a>
                    </div>
                    <a class="prev" onclick="prevSlide()">&#10094;</a>
                    <a class="next" onclick="nextSlide()">&#10095;</a>
                </div>
            </div>

        </div>
        <br><br>
    </div>

    <%- include category_list.ejs %>

    <div class="container">
        <h4 class="header center green-text">Aprende más sobre Curso Club</h4>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HWp5ljXyIN4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</main>

<%- include footer.ejs %>