<div class="row">
    <h4 class="header center red-text">Utilizar Curso Club es muy sencillo</h4>
    <div class="col l3 m3 s6" align="center">
        <img class="responsive-img" src="/img/Instrucciones1.png">
        <p class="flow-text">1. Ingresa y regístrate.</p>
    </div>
    <div class="col l3 m3 s6" align="center">
        <img class="responsive-img" src="/img/Instrucciones2.png">
        <p class="flow-text">2. Elige el curso y el instructor según tus necesidades o gustos.</p>
    </div>
    <div class="col l3 m3 s6" align="center">
        <img class="responsive-img" src="/img/Instrucciones3.png">
        <p class="flow-text">3. Programa la fecha y hora de tus clases en el calendario.</p>
    </div>
    <div class="col l3 m3 s6" align="center">
        <img class="responsive-img" src="/img/Instrucciones4.png">
        <p class="flow-text">4. Espera la confirmación de tu instructor y paga a través del medio que escojas.</p>
    </div>
</div>
<div class="row" align="center">
    <p class="flow-text"><strong>5. ¡Recibe tu clase a domicilio!</strong></p>
</div>