<%- include header.ejs %>

<div class="i-image-with-text" align="center">
    <img src="/img/CC2.png" class="responsive-img hide-on-med-and-down i-image-with-text" style="width: 100%">
    <div class="i-welcome-content">
        <h3>¡Comienza a dar clases particulares y aumenta tus ingresos!</h3>
        <br>
        <p class="flow-text">Regístrate hoy en Instructorio.co y publica tu perfil totalmente gratis
            <br><br>
            Simplemente llena el formulario en su totalidad, confirma tu correo y actualiza tu horario
            <br><br>
            Ya estarás listo para que las personas te conozcan y comiences a compartir tus conocimientos y talento</p>
        <a class="btn i-corporate-orange i-welcome-button" href="/teacher/signup">Regístrate aquí</a>
        <br>
        <a href="/signup">¿Estás buscando un Instructor? Regístrate como Usuario</a>
    </div>
</div>

<%- include footer.ejs %>