<%- include header.ejs %>

<main class="i-landing-background">
    <div class="container">
        <div class="row" align="center">
            <h3><strong>¡BIENVENIDO A INSTRUCTORIO!</strong></h3>
        </div>
        <div class="row" align="center">
            <p class="flow-text">¡Empieza hoy a enseñar o aprender lo que más te gusta!
            <br><br>
                ¡Si deseas recibir ofertas y contenidos exclusivos, cuéntanos un poco sobre ti!</p>
            <br><br>
        </div>
        <% if (error.length > 0) { %>
            <div class="row">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <p><i class="material-icons">report_problem</i> <%- error %></p>
                    </div>
                </div>
            </div>
        <% } %>
        <% if (success.length > 0) { %>
            <div class="row">
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        <p><i class="material-icons">done</i> <%- success %></p>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="row">
            <div class="card-panel col s12 m8 l8 offset-m2 offset-l2 hoverable">
                <p class="flow-text center-align"><strong>¿QUE TE INTERESA/NECESITAS?</strong></p>
                <form action="/registro" method="post">
                    <p class="center-align">
                        <input type="checkbox" id="option1" name="options" value="Dar clases" />
                        <label class="black-text" for="option1">DAR CLASES PARTICULARES</label>
                    </p>
                    <p class="center-align">
                        <input type="checkbox" id="option2" name="options" value="Tomar clases" />
                        <label class="black-text" for="option2">TOMAR CLASES PARTICULARES</label>
                    </p>
                    <p class="center-align">
                        <input type="checkbox" id="option3" name="options" value="Cursos virtuales" />
                        <label class="black-text" for="option3">TOMAR CURSOS VIRTUALES</label>
                    </p>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit</i>
                        <textarea id="interest" name="interest" class="materialize-textarea"></textarea>
                        <label for="interest">¿CUALES SON LOS TEMAS DE TU INTERÉS? (opcional)</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" name="firstname" id="firstname" required>
                        <label for="firstname">Nombre</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">email</i>
                        <input class="validate" type="email" name="email" id="email" required>
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="row" align="center">
                        <div class="input-field col l12 m12 s12">
                            <button class="btn green" type="submit">Enviar y continuar</button>
                        </div>
                    </div>
                </form>
                <br>
                <p>No quiero recibir ofertas exclusivas, <a href="/">continuar al sitio web</a></p>
                <p>Conoce nuestros <a href="/terminos">términos y condiciones</a></p>
            </div>
        </div>
        <br>
    </div>
</main>

<%- include footer.ejs %>