<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row">
            <h4 class="i-corporate-green-text">Inicio de sesión</h4>
            <% if (error.length > 0) { %>
            <div class="row">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <p><i class="material-icons">report_problem</i> <%- error %></p>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (success.length > 0) { %>
            <div class="row">
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        <p><i class="material-icons">done</i> <%- success %></p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="row" align="center">
            <h5>Ingresa con tu correo registrado</h5>
            <form action="/login" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input class="validate" type="text" name="username" id="username" required autofocus>
                        <label for="username">Nombre de usuario</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input class="validate" type="password" name="password" id="password" minlength="6" required>
                        <label for="password">Contraseña</label>
                    </div>
                    <div>
                        <a href="/user/recovery">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input class="btn green" type="submit" value="Entrar">
                    </div>
                </div>
                <br>
            </form>
            <div class="divider"></div>
            <br>
            <h5>¿No estás registrado?</h5>
            <div class="row flex">
                <div class="col l6 m6 s12 i-corporate-green-background">
                    <p class="flow-text">Si quieres <strong>tomar una clase</strong> <a href="/signup">¡Regístrate acá!</a></p>
                    <div class="divider black"></div>
                    <div class="row" align="center">
                        <p class="flow-text">O si lo prefieres, puedes ingresar siempre usando Facebook</p>
                        <br>
                        <div>
                            <a href="/auth/facebook" class="btn blue darken-3">Entrar con Facebook</a>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12 i-corporate-orange-background" >
                    <p class="flow-text">Si quieres ser <strong>instructor</strong> y aparecer en Curso Club <br>
                        <a href="/teacher/signup">¡Regístrate acá!</a></p>
                </div>
            </div>
        </div>
        <br>
    </div>
</main>

<%- include footer.ejs %>