<%- include header.ejs %>

<main>
    <div class="container">
        <h4>RECUPERAR CONTRASEÑA</h4>
        <% if (done) { %>
        <div class="row">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <p>
                        <i class="material-icons">done</i> Si el correo electrónico está registrado, recibirás un mensaje
                        con las instrucciones para restablecer tu contraseña. Revisa tu bandeja de entrada.
                    </p>
                </div>
            </div>
        </div>
        <% } %>
        <% if (!continueProcess) { %>
        <p>
            Escribe el correo con el que te registraste a Curso Club. Si coincide con nuestros registros,
            te enviarémos un mensaje para que puedas configurar nuevamente tu contraseña.
        </p>
        <br>
        <form method="post" action="">
            <div class="input-field">
                <input type="text" name="username" id="username" class="validate" required>
                <label for="username">Correo electrónico</label>
            </div>
            <div align="center">
                <button class="waves-effect waves-light btn green" type="submit" value="Enviar">Enviar</button>
            </div>
        </form>
        <% } else if (continueProcess === 'yes') { %>
        <form method="post" action="">
            <div class="input-field col l4 m4 s12">
                <input class="validate" minlength="6" type="password" name="new_password" id="new_password" required>
                <label for="new_password">Contraseña</label>
            </div>
            <div class="input-field col l4 m4 s12">
                <input class="validate" minlength="6" type="password" name="password_confirmation" id="password_confirmation" required>
                <label for="password_confirmation">Confirmar contraseña</label>
                <span id="message"></span>
            </div>
            <div align="center">
                <button class="waves-effect waves-light btn green" type="submit" name="submit" id="submit" value="yes">Aceptar</button>
            </div>
        </form>
        <% } else if (continueProcess === 'no') { %>
        <div class="row">
            <div class="card yellow lighten-2">
                <div class="card-content">
                    <p>
                        <i class="material-icons">warning</i> El proceso de recuperación de la contraseña fue revocado.
                        No se ha hecho ningún cambio. Puedes <a href="/login">ingresar</a> con la contraseña que tenías asignada.
                    </p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</main>

<%- include footer.ejs %>