<%- include header.ejs %>

<main>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="card yellow lighten-2">
                    <div class="card-content">
                        <h5>
                            <i class="material-icons">warning</i> Si estas interesado en ser un instructor de Instructorio,
                            <a class="blue-text" href="/teacher/signup">haz clic aquí</a>
                        </h5>
                    </div>
                </div>
            </div>
            <p class="flow-text">¿Ya estás registrado? <a href="/login">Ingresa acá</a></p>
            <div class="divider"></div>
            <h4 class="i-corporate-orange-text">Formulario de registro para usuarios</h4>
            <% if (error.length > 0) { %>
            <div class="row">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <p><i class="material-icons">report_problem</i> <%- error %></p>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (success.length > 0) { %>
            <div class="row">
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        <p><i class="material-icons">done</i> <%- success %></p>
                    </div>
                </div>
            </div>
            <% } %>
            <form method="post" action="student/create">
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" name="firstname" id="firstname" required>
                        <label for="firstname">Nombre</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" name="lastname" id="lastname" required>
                        <label for="lastname">Apellido</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">local_phone</i>
                        <input type="text" name="phone" id="phone" required>
                        <label for="phone">Teléfono</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">location_on</i>
                        <input type="text" name="address" id="address" required>
                        <label for="address">Dirección</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m6 s6">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input type="text" name="document" id="document" required>
                        <label for="document">Cédula</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">event</i>
                        <input class="datepicker" type="date" name="birthday" id="birthday" required>
                        <label for="birthday">Fecha de nacimiento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l4 m4 s12">
                        <i class="material-icons prefix">email</i>
                        <input class="validate" type="email" name="email" id="email" required>
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="input-field col l4 m4 s12">
                        <i class="material-icons prefix">lock</i>
                        <input class="validate" minlength="6" type="password" name="new_password" id="new_password" required>
                        <label for="new_password">Contraseña</label>
                    </div>
                    <div class="input-field col l4 m4 s12">
                        <i class="material-icons prefix">lock</i>
                        <input class="validate" minlength="6" type="password" name="password_confirmation" id="password_confirmation" required>
                        <label for="password_confirmation">Confirmar contraseña</label>
                        <span id="message"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">note_add</i>
                        <textarea id="like" name="like" class="materialize-textarea" data-length="300"></textarea>
                        <label for="like">¿Cuáles son las clases que te gustaría tomar?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">visibility</i>
                        <textarea id="howKnew" name="howKnew" class="materialize-textarea" data-length="300"></textarea>
                        <label for="howKnew">¿Cómo te enteraste de Instructorio?</label>
                    </div>
                </div>
                <div class="row" align="center">
                    <div class="input-field col l12 m12 s12">
                        <input name="subscription" id="subscription_switch" type="checkbox" value="true" checked>
                        <label for="subscription_switch">Recibir notificaciones por correo electrónico</label>
                    </div>
                    <div class="input-field col l12 m12 s12">
                        <input name="conditions" id="conditions_switch" type="checkbox" value="true" required>
                        <label for="conditions_switch">Acepto <a href="/terminos" target="_blank">términos y condiciones</a></label>
                    </div>
                </div>
                <div class="row" align="center">
                    <div class="input-field col l12 m12 s12">
                        <button class="btn green" type="submit">Registrarse</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<%- include footer.ejs %>