<%- include header.ejs %>

<main>
    <div class="container">
        <h4 class="cc-corporate-green-text">Formulario de pre-registro para instructores</h4>
        <p>Cuando completes este formulario, debes esperar a ser aprobado por Curso Club para poder ingresar, y aparecer en nuestra plataforma</p>
        <br>
        <form method="post" action="">
            <div id="personalForm">
                <div class="card grey lighten-2">
                    <div class="card-content">
                        <p class="flow-text">
                            <i class="material-icons blue-text">new_releases</i> ¡Gracias por demostrar tu interés en
                            Curso Club!
                        </p>
                        <p>
                            Queremos que tengas la posibilidad de compartir tus conocimientos y que logres ingresos extra con ello.
                            <br>
                            Sin comisiones, trámites bancarios ni membresías. Tú eres el dueño de tus ingresos, tiempo y
                            conocimientos.
                            <br>
                            Regístrate y formemos una comunidad dispuesta a aprender de manera justa y segura para todos.
                        </p>
                    </div>
                </div>
                <h5 class="cc-corporate-purple-text">Datos personales</h5>
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="firstname" id="firstname" required>
                        <label for="firstname">Nombre</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="lastname" id="lastname" required>
                        <label for="lastname">Apellido</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l4 m4 s12">
                        <input type="text" name="phone" id="phone" required>
                        <label for="phone">Teléfono fijo</label>
                    </div>
                    <div class="input-field col l4 m4 s12">
                        <input type="text" name="mobile" id="mobile" required>
                        <label for="mobile">Celular</label>
                    </div>
                    <div class="input-field col l4 m4 s12">
                        <input type="date" name="birthday" id="birthday" class="datepicker" required>
                        <label for="birthday">Fecha de nacimiento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="address" id="address">
                        <label for="address">Dirección</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <input type="text" name="workingArea" id="workingArea" required>
                        <label for="workingArea">Cédula</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l4 m4 s12">
                        <input class="validate" type="email" name="email" id="email" required>
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="input-field col l4 m4 s12">
                        <input class="validate" minlength="6" type="password" name="new_password" id="new_password" required>
                        <label for="new_password">Contraseña</label>
                    </div>
                    <div class="input-field col l4 m4 s12">
                        <input class="validate" minlength="6" type="password" name="password_confirmation" id="password_confirmation" required>
                        <label for="password_confirmation">Confirmar contraseña</label>
                        <span id="message"></span>
                    </div>
                </div>
                <div class="row" align="center">
                    <div class="input-field col l12 m12 s12">
                        <a class="btn green" onclick="showProfessionalForm()">Continuar</a>
                    </div>
                </div>
            </div>
            <div id="professionalForm" style="display: none">
                <h5 class="cc-corporate-purple-text">Información profesional</h5>
                <div class="row">
                    <div class="input-field col l6 m6 s6">
                        <select multiple id="courses" name="courses">
                            <option value="" disabled selected>Selecciona al menos un curso</option>
                            <% for (var i = 0; i < courses_list.length; i++ ) { %>
                            <option value="<%= courses_list[i].id %>"><%= courses_list[i].name %></option>
                            <% } %>
                        </select>
                        <label for="courses">Selecciona las clases que vas a impartir</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="firstname" id="firstname" required>
                        <label for="firstname">¿En qué sectores de la ciudad prefieres impartir las clases?</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input type="text" name="lastname" id="lastname" required>
                        <label for="lastname">¿Cuál es el valor promedio por hora de clase?</label>
                    </div>
                </div>
                <div class="row">
                    <p>Tus conocimientos en esta(s) área(s) son:</p>
                    <div class="col l6 m6 s12">
                        <p>
                            <input name="knowledgeType" type="radio" id="knowledgeType1" onclick="knowledgeTypeSelected('professional')" />
                            <label for="knowledgeType1">Profesionales</label>
                        </p>
                        <p>
                            <input name="knowledgeType" type="radio" id="knowledgeType2" onclick="knowledgeTypeSelected('experience')" />
                            <label for="knowledgeType2">Empíricos</label>
                        </p>
                    </div>
                    <div class="col l6 m6 s12">
                        <p id="file-message"></p>
                        <div class="input-field file-field" id="file-inputField" style="display: none">
                            <div class="btn indigo">
                                <span>Elegir archivo</span>
                                <input type="file" name="attached" id="attached-input">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path" id="file-name" type="text" placeholder="Archivo con tamaño no mayor a 6 mb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <textarea id="experience" name="experience" class="materialize-textarea" data-length="300"></textarea>
                        <label for="experience">Cuéntanos sobre tu experiencia</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <textarea id="clients" name="clients" class="materialize-textarea" data-length="300"></textarea>
                        <label for="clients">¿Con qué tipo de clientes has trabajado? (Ej: niños, adultos, etc)</label>
                    </div>
                </div>
                <div class="row" align="center">
                    <div class="input-field col l12 m12 s12">
                        <a class="btn red lighten-2" onclick="showPersonalForm()">Regresar</a>
                        <a class="btn green" onclick="showLastStepForm()">Continuar</a>
                    </div>
                </div>
            </div>
            <div id="lastStepForm" style="display: none">
                <h5 class="cc-corporate-purple-text">Información adicional</h5>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <textarea id="clients" name="clients" class="materialize-textarea" data-length="300"></textarea>
                        <label for="clients">Cuéntanos un poco más sobre ti (fortalezas, aptitudes, características).</label>
                    </div>
                </div>
                <div class="row">
                    <p>
                        Agrega aquí los enlaces de tus redes sociales.
                    </p>
                    <div class="input-field col l2 m2 s6">
                        <i class="material-icons prefix">mood</i>
                        <input type="text" name="facebook" id="facebook">
                        <label for="facebook">Facebook</label>
                    </div>
                    <div class="input-field col l2 m2 s6">
                        <i class="material-icons prefix">photo_camera</i>
                        <input type="text" name="instagram" id="instagram" required>
                        <label for="instagram">Instagram</label>
                    </div>
                    <div class="input-field col l2 m2 s6">
                        <i class="material-icons prefix">sms</i>
                        <input type="text" name="twitter" id="twitter">
                        <label for="twitter">Twitter</label>
                    </div>
                    <div class="input-field col l2 m2 s6">
                        <i class="material-icons prefix">book</i>
                        <input type="text" name="blog" id="blog">
                        <label for="blog">Blog</label>
                    </div>
                    <div class="input-field col l4 m4 s12">
                        <i class="material-icons prefix">web</i>
                        <input type="text" name="website" id="website" required>
                        <label for="website">Página web</label>
                    </div>
                    <p>
                        *Ingresa al menos un campo. Para Curso Club lo más importante es la seguridad de nuestros usuarios
                        e instructores. Queremos saber un poco de ti.
                    </p>
                </div>
                <div class="row">
                    <div class="input-field col l12 m12 s12">
                        <textarea id="like" name="like" class="materialize-textarea" data-length="300"></textarea>
                        <label for="like">¿Qué es lo que más te gusta del trabajo que haces?</label>
                    </div>
                </div>
                <div class="row" align="center">
                    <div class="input-field col l12 m12 s12">
                        <input name="subscription" id="subscription_switch" type="checkbox" value="true" checked>
                        <label for="subscription_switch">Recibir notificaciones por correo electrónico</label>
                    </div>
                </div>
                <div class="row" align="center">
                    <div class="input-field col l12 m12 s12">
                        <input name="terms" id="terms" type="checkbox" value="true" required>
                        <label for="terms">Acepto los <a href="/" target="_blank">términos y condiciones</a></label>
                    </div>
                </div>
                <div class="row" align="center">
                    <div class="input-field col l12 m12 s12">
                        <a class="btn red lighten-2" onclick="showProfessionalForm()">Regresar</a>
                        <a class="btn green" onclick="alert('Registro hecho')">Finalizar registro</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/js/registrationForm.js"></script>
</main>

<%- include footer.ejs %>