<%- include header.ejs %>

<main>
    <div class="container">
        <% if (target !== 'instructor') { %>
        <h5 class="center"><strong>TÉRMINOS Y CONDICIONES INSTRUCTORIO</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                El presente establece los “Términos y Condiciones” bajo los cuales los usuarios del sitio
                web www.instructorio.com utilizan sus servicios. Es necesario que todo usuario, previo a su registro,
                lea con detenimiento estos términos y condiciones, y dé su consentimiento acera de su comprensión y
                aprobación. El desconocimiento del contenido de estos términos y condiciones, no justifican el incumplimiento
                de los mismos, y mucho menos, facultan a los usuarios para tomar medidas particulares o legales que
                desconozcan lo planteado en estos términos. Si usted no está de acuerdo con alguna de las clausulas
                presentadas a continuación, por favor, absténgase de utilizar los servicios de INSTRUCTORIO.
            </p>
        </div>
        <h5><strong>CONDICIONES DE USO</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del mismo,
                incluyendo los contenidos y los servicios puestos a disposición de los usuarios y/o a través del portal,
                bien por el mismo portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilización
                de ciertos contenidos y/o servicios pueden encontrarse sometidos a determinadas condiciones específicas.
                <br>
                <br>
                El titular se reserva el derecho de solicitar el registro del Visitante para la Página Web, toda o parte
                de ella, que previamente haya sido de libre acceso y, en tal caso, está facultada, en cualquier momento y
                sin expresión de causa, a denegar al usuario el acceso al área protegida por contraseñas, en particular si
                el usuario:
            </p>
        </div>
        <div class="row" align="justify">
            <ol>
                <li><p class="flow-text">Proporciona datos incorrectos con el fin de registrarse.</p></li>
                <li><p class="flow-text">Incumple estos Términos y Condiciones de Uso y Privacidad.</p></li>
                <li><p class="flow-text">Incumple cualquier normativa aplicable respecto al acceso o el uso de la
                        presente Página Web.</p></li>
                <li><p class="flow-text">Incumple con el perfil de usuario del portal.</p></li>
            </ol>
        </div>
        <div class="row" align="justify">
            <p class="flow-text">
                El portal se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del
                portal. En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del portal,
                ya que pueden ser modificados.
            </p>
        </div>
        <h5><strong>DERECHOS DE PROPIEDAD</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                Entre usted e INSTRUCTORIO; INSTRUCTORIO es dueño único y exclusivo, de todos los derechos, título e
                intereses en y del Sitio Web, de todo el contenido (incluyendo, por ejemplo, audio, fotografías,
                ilustraciones, gráficos, otros medios visuales, videos, copias, textos, software, títulos, etc. A
                excepción de imágenes y videos libres de derechos de autor), códigos, datos y materiales del mismo, el
                aspecto y el ambiente, el diseño y la organización del Sitio Web y la compilación de los contenidos,
                códigos, datos y los materiales en el Sitio Web, incluyendo pero no limitado a, cualesquiera derechos
                de autor, derechos de marca, derechos de patente, derechos de base de datos, derechos morales, derechos
                sui generis y otras propiedades intelectuales y derechos patrimoniales del mismo. Su uso del Sitio Web
                no le otorga propiedad de ninguno de los contenidos, códigos, datos o materiales a los que pueda acceder
                en o a través del Sitio Web.
            </p>
        </div>
        <h5><strong>INFORMACIÓN DEL USUARIO</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                En el uso que usted haga del Sitio Web y/o de los servicios puestos a su disposición en o a través del
                Sitio Web, se le puede pedir que nos proporcione cierta información personalizada (dicha información en
                lo sucesivo "Información del Usuario"). Las políticas de uso y recopilación de información de
                INSTRUCTORIO con respecto a la privacidad de dicha Información del Usuario se establecen en la Política
                de Privacidad del Sitio Web, la cual está incorporada al mismo como referencia para todos los propósitos.
                Usted reconoce y acepta ser el único responsable de la exactitud del contenido de la Información del
                Usuario.
                <br>
                <br>
                Cualquier información y/o materiales que los usuarios, ya sean usuarios, instructores o visitantes,
                proporcionan a INSTRUCTORIO en relación con su registro y el uso de los servicios de INSTRUCTORIO,
                debe cumplir con las siguientes condiciones:
            </p>
        </div>
        <div class="row" align="justify">
            <ol>
                <li><p class="flow-text">No es falsa, inexacta, incompleta o engañosa.</p></li>
                <li><p class="flow-text">No ser fraudulenta ni involucra la venta de artículos o servicios falsificados,
                        inexistentes o plagiados.</p></li>
                <li><p class="flow-text">No infringirá para ningún tercero los derechos de autor, patentes, marcas,
                        secretos comerciales o cualquier otro derecho o los derechos de publicidad o privacidad
                        propietaria de las partes.</p></li>
                <li><p class="flow-text">No violará ninguna ley, estatuto, ordenanza o regulación (incluyendo, sin
                        limitación, las que rigen el control de exportaciones, protección al consumidor, competencia
                        desleal, antidiscriminación o la publicidad engañosa).</p></li>
                <li><p class="flow-text">No será difamatoria, calumniosa, ilegal, o pretende acosar o amenazar a
                        alguien.</p></li>
                <li><p class="flow-text">No será obscena o contendrá pornografía infantil o material nocivo para los
                        menores.</p></li>
                <li><p class="flow-text">No contendrá ningún virus, caballos de Troya, gusanos, bombas de tiempo, u
                        otras rutinas de programación informática que tienen la intención de dañar, interferir
                        perjudicialmente, interceptar o expropiar cualquier sistema, dato o información personal.
                    </p></li>
                <li><p class="flow-text">Garantizará que como usuario ya sea usuario o instructor no ha sido objeto de
                        denuncia, orden o cualquier otra acción legal que implique restricción, arresto o condena por
                        un delito que implique poner en peligro la seguridad de las personas.</p></li>
                <li><p class="flow-text">El usuario permitirá que INSTRUCTORIO realice la verificación de sus
                        antecedentes penales, judiciales y profesionales con la información suministrada.</p></li>
            </ol>
        </div>
        <div class="row" align="justify">
            <p class="flow-text">
                Para acceder a los servicios de INSTRUCTORIO se debe ser mayor de 18 años, en caso que un usuario menor
                de 18 años requiera un instructor, debe estar previamente autorizado por sus padres y/o autoridad
                competente y la persona mayor de edad deberá registrarse para acceder a este servicio. En ningún caso
                un menor de edad podrá tomar clases de instructores contactados a través de INSTRUCTORIO sin la
                presencia de un adulto responsable y autorizado para permitir dichos servicios. INSTRUCTORIO no se hace
                responsable por cualquier hecho, daño o perjuicio que se cause en virtud de incumplimiento de lo aquí
                señalado.
                <br>
                <br>
                No asumimos ninguna responsabilidad por cualquier información falsa que se registre o comportamiento
                que nos lleve a entender equivocadamente la edad o consentimiento de padres y/o autoridad competente.
                <br>
                <br>
                El usuario no podrá, bajo ninguna circunstancia, divulgar la clase tomada ya sea grabada en audio o
                video.
            </p>
        </div>
        <h5><strong>POLITICAS DE PRIVACIDAD</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                Esta política describe la información que recopilamos, cómo la utilizamos y compartimos, así como las
                opciones que tiene en relación a la misma. Le recomendamos que la lea, para que tenga conocimiento de
                los puntos clave de nuestras prácticas en materia de privacidad.
                <br>
                <br>
                Esta política, siempre y cuando no se indique lo contrario a continuación, se aplica a cualquier usuario
                de los servicios de INSTRUCTORIO o de los de sus asociados, así como a cualquier persona que se ponga
                en contacto con INSTRUCTORIO o le haga llegar información de algún otro modo.
                <br>
                <br>
                INSTRUCTORIO en cumplimiento de lo definido en la Ley 1581 de 2012 le informa que los datos personales
                que usted suministre en virtud de las operaciones que solicite o celebre con INSTRUCTORIO, serán
                tratados mediante el uso y mantenimiento de medidas de seguridad técnicas, físicas y administrativas a
                fin de impedir que terceros no autorizados accedan a los mismos, lo anterior de conformidad a lo
                definido en la Ley.
                <br>
                <br>
                El responsable de sus datos personales es INSTRUCTORIO y serán utilizados para:
            </p>
        </div>
        <div class="row" align="justify">
            <ol>
                <li><p class="flow-text">Actividades de registro, operación y seguimiento.</p></li>
                <li><p class="flow-text">Enviar comunicaciones exigidas por ley, así como de nuestros eventos y
                        servicios.</p></li>
                <li><p class="flow-text">Realizar actividades de Marketing o prospección comercial.</p></li>
                <li><p class="flow-text">Realizar una comprobación de antecedentes.</p></li>
                <li><p class="flow-text">Informar al instructor sobre quién y donde se prestara el servicio, en caso de
                        adquirirlo.</p></li>
            </ol>
        </div>
        <div class="row" align="justify">
            <p class="flow-text">
                INSTRUCTORIO es responsable por la privacidad de su información y sus datos, a menos que ocurra un
                ataque informático o si INSTRUCTORIO es víctima de algún hacker o delito de esta índole sobre el cual
                no tenemos control.
                <br>
                <br>
                INSTRUCTORIO se reserva el derecho de ajustar, cambiar, modificar, eliminar o agregar alguna clausula
                o disposición del presente sin previo aviso; es responsabilidad del usuario revisar periódicamente el
                presente documento.
            </p>
        </div>
        <h5><strong>RESPONSABILIDAD DEL PORTAL</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea
                expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen
                desde el Portal, exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente
                con la medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna
                respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y
                servicios del Portal.
                <br>
                <br>
                En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse
                a la información y/o servicios prestados o suministrados por terceros diferentes de INSTRUCTORIO. Toda
                responsabilidad será del tercero ya sea proveedor o prestador del servicio.
            </p>
        </div>
        <div class="row" align="justify">
            <ol>
                <li><p class="flow-text">INSTRUCTORIO es un servicio de conexión de usuarios con instructores de varios
                        campos.</p></li>
                <li><p class="flow-text">La labor de INSTRUCTORIO es facilitar el contacto entre el usuario y el
                        instructor y servir como medio de reserva de clases entre los mismos.</p></li>
                <li><p class="flow-text"> INSTRUCTORIO no tiene el control sobre la puntualidad o cualquier otro aspecto
                        previsto exclusivamente por el instructor.</p></li>
                <li><p class="flow-text">INSTRUCTORIO realiza verificaciones de antecedentes penales, judiciales,
                        profesionales de cada Instructor.</p></li>
                <li><p class="flow-text">INSTRUCTORIO no puede confirmar que cada usuario es quien dice ser.</p></li>
                <li><p class="flow-text">Cada persona que está registrada como instructor en INSTRUCTORIO, pasa por un
                        proceso de aplicación y de investigación de antecedentes penales, judiciales, y profesionales.
                    </p></li>
            </ol>
        </div>
        <div class="row" align="justify">
            <p class="flow-text">
                Teniendo en cuenta las condiciones mencionadas anteriormente, INSTRUCTORIO se excluye de cualquier
                responsabilidad en relación con todas las acciones de instructores, usuarios y terceros que usan los
                servicios, incluida la utilización o intercambio de cualquier información o archivos entre instructores
                y usuarios. Al interactuar con otros usuarios se debe tener cuidado y sentido común para proteger la
                seguridad personal, del mismo modo que en la interacción con otras personas desconocidas.
            </p>
        </div>
        <h5><strong>PRECIO DE LOS SERVICIOS DE LOS INSTRUCTORES</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                El precio por el servicio contratado será el previamente acordado con el instructor y se cancelará una
                vez prestado el servicio por el medio de pago previamente acordado por ambas partes.
            </p>
        </div>
        <h5><strong>TERMINACIÓN</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                INSTRUCTORIO se reserva el derecho, a su exclusiva discreción, de borrar toda la información que se haya
                incluido en el Portal y de terminar inmediatamente su registro y acceso a este o a determinados
                servicios, ante el incumplimiento de estos Términos y Condiciones por parte de los usuarios o ante la
                imposibilidad de verificar o autenticar cualquier información que estos hayan presentado en el registro
                para acceder al Portal.
            </p>
        </div>
        <h5><strong>INFORMACIÓN ADICIONAL</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                INSTRUCTORIO no garantiza que el portal opere libre de errores o que su servidor se encuentre libre de
                virus de computadores u otros mecanismos dañinos. Si el uso del portal o del material resulta en la
                necesidad de solicitar servicio de reparación o mantenimiento a sus equipos o información o de
                reemplazar sus equipos o información, INSTRUCTORIO no es responsable por los costos que ello implique.
                <br>
                <br>
                El portal y el material se ponen a disposición de los usuarios en el estado en que se encuentren. No se
                otorga garantía alguna sobre la exactitud, confiabilidad u oportunidad del material, los servicios, los
                textos, el software, las gráficas y los links o vínculos.
                <br>
                <br>
                En ningún caso, INSTRUCTORIO, sus aliados o cualquier persona mencionada en el portal, será responsable
                por daños de cualquier naturaleza, resultantes del uso o la imposibilidad de usarlos.
            </p>
        </div>
        <div class="row" align="justify">
            <h5><strong>RECONOZCO QUE HE LEÍDO Y ENTENDIDO LAS CONDICIONES ANTERIORES DE USO Y ACEPTO QUE MI USO DEL
                    SERVICIO ES UN RECONOCIMIENTO DE MI ACUERDO A RESPETAR LOS TÉRMINOS Y CONDICIONES AQUÍ
                    DESCRITOS</strong></h5>
        </div>
        <% } else { %>
        <h5 class="center"><strong>TÉRMINOS Y CONDICIONES INSTRUCTORIO</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                El presente establece los “Términos y Condiciones” bajo los cuales los usuarios del sitio web
                www.instructorio.com utilizan sus servicios. Es necesario que todo usuario, previo a su registro, lea
                con detenimiento estos términos y condiciones, y dé su consentimiento acera de su comprensión y
                aprobación. El desconocimiento del contenido de estos términos y condiciones, no justifican el
                incumplimiento de los mismos, y mucho menos, facultan a los usuarios para tomar medidas particulares o
                legales que desconozcan lo planteado en estos términos. Si usted no está de acuerdo con alguna de las
                clausulas presentadas a continuación, por favor, absténgase de utilizar los servicios de INSTRUCTORIO.
            </p>
        </div>
        <h5><strong>CONDICIONES DE USO</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del mismo,
                incluyendo los contenidos y los servicios puestos a disposición de los usuarios y/o a través del portal,
                bien por el mismo portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la
                utilización de ciertos contenidos y/o servicios pueden encontrarse sometidos a determinadas condiciones
                específicas.
                <br>
                <br>
                El titular se reserva el derecho de solicitar el registro del Visitante para la Página Web, toda o
                parte de ella, que previamente haya sido de libre acceso y, en tal caso, está facultada, en cualquier
                momento y sin expresión de causa, a denegar al usuario el acceso al área protegida por contraseñas, en
                particular si el usuario:
            </p>
        </div>
        <div class="row" align="justify">
            <ol>
                <li><p class="flow-text">Proporciona datos incorrectos con el fin de registrarse.</p></li>
                <li><p class="flow-text">Incumple estos Términos y Condiciones de Uso y Privacidad.</p></li>
                <li><p class="flow-text">Incumple cualquier normativa aplicable respecto al acceso o el uso de la
                        presente Página Web.</p></li>
                <li><p class="flow-text">Incumple con el perfil de usuario del portal.</p></li>
            </ol>
        </div>
        <div class="row" align="justify">
            <p class="flow-text">
                El portal se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del
                portal. En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del portal,
                ya que pueden ser modificados.
            </p>
        </div>
        <h5><strong>DERECHOS DE PROPIEDAD</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                Entre usted e INSTRUCTORIO; INSTRUCTORIO es dueño único y exclusivo, de todos los derechos, título e
                intereses en y del Sitio Web, de todo el contenido (incluyendo, por ejemplo, audio, fotografías,
                ilustraciones, gráficos, otros medios visuales, videos, copias, textos, software, títulos, etc. A
                excepción de imágenes y videos libres de derechos de autor), códigos, datos y materiales del mismo, el
                aspecto y el ambiente, el diseño y la organización del Sitio Web y la compilación de los contenidos,
                códigos, datos y los materiales en el Sitio Web, incluyendo pero no limitado a, cualesquiera derechos de
                autor, derechos de marca, derechos de patente, derechos de base de datos, derechos morales, derechos sui
                generis y otras propiedades intelectuales y derechos patrimoniales del mismo. Su uso del Sitio Web no
                le otorga propiedad de ninguno de los contenidos, códigos, datos o materiales a los que pueda acceder
                en o a través del Sitio Web.
            </p>
        </div>
        <h5><strong>INFORMACIÓN DEL USUARIO</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                En el uso que usted haga del Sitio Web y/o de los servicios puestos a su disposición en o a través del
                Sitio Web, se le puede pedir que nos proporcione cierta información personalizada (dicha información en
                lo sucesivo "Información del Usuario"). Las políticas de uso y recopilación de información de
                INSTRUCTORIO con respecto a la privacidad de dicha Información del Usuario se establecen en la Política
                de Privacidad del Sitio Web, la cual está incorporada al mismo como referencia para todos los
                propósitos. Usted reconoce y acepta ser el único responsable de la exactitud del contenido de la
                Información del Usuario Y AUTORIZA A INSTRUCTORIO PARA UTILIZARLA EN SU PLATAFORMA.
                <br>
                <br>
                Cualquier información y/o materiales que los usuarios o visitantes, proporcionan a INSTRUCTORIO en
                relación con su registro y el uso de los servicios de INSTRUCTORIO, debe cumplir con las siguientes
                condiciones:
            </p>
        </div>
        <div class="row" align="justify">
            <ol>
                <li><p class="flow-text">No es falsa, inexacta, incompleta o engañosa.</p></li>
                <li><p class="flow-text">No ser fraudulenta ni involucra la venta de artículos o servicios falsificados,
                        inexistentes o plagiados.</p></li>
                <li><p class="flow-text">No infringirá para ningún tercero los derechos de autor, patentes, marcas,
                        secretos comerciales o cualquier otro derecho o los derechos de publicidad o privacidad
                        propietaria de las partes.</p></li>
                <li><p class="flow-text">No violará ninguna ley, estatuto, ordenanza o regulación (incluyendo, sin
                        limitación, las que rigen el control de exportaciones, protección al consumidor, competencia
                        desleal, antidiscriminación o la publicidad engañosa).</p></li>
                <li><p class="flow-text">No será difamatoria, calumniosa, ilegal, o pretende acosar o amenazar a
                        alguien.</p></li>
                <li><p class="flow-text">No será obscena o contendrá pornografía infantil o material nocivo para los
                        menores.</p></li>
                <li><p class="flow-text">No contendrá ningún virus, caballos de Troya, gusanos, bombas de tiempo, u
                        otras rutinas de programación informática que tienen la intención de dañar, interferir
                        perjudicialmente, interceptar o expropiar cualquier sistema, dato o información personal.
                    </p></li>
                <li><p class="flow-text">Garantizará que como usuario ya sea usuario o instructor no ha sido objeto de
                        denuncia, orden o cualquier otra acción legal que implique restricción, arresto o condena por
                        un delito que implique poner en peligro la seguridad de las personas.</p></li>
                <li><p class="flow-text">El usuario permitirá que INSTRUCTORIO realice la verificación de sus
                        antecedentes penales, judiciales y profesionales con la información suministrada.</p></li>
            </ol>
        </div>
        <div class="row" align="justify">
            <p class="flow-text">
                Para acceder a los servicios de INSTRUCTORIO se debe ser mayor de 18 años.
                <br>
                <br>
                No asumimos ninguna responsabilidad por cualquier información falsa que se registre o comportamiento
                que nos lleve a entender equivocadamente la edad o información suministrada.
            </p>
        </div>
        <h5><strong>POLITICAS DE PRIVACIDAD</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                Esta política describe la información que recopilamos, cómo la utilizamos y compartimos, así como las
                opciones que tiene en relación a la misma. Le recomendamos que la lea, para que tenga conocimiento de
                los puntos clave de nuestras prácticas en materia de privacidad.
                <br>
                <br>
                Esta política, siempre y cuando no se indique lo contrario a continuación, se aplica a cualquier
                usuario de los servicios de INSTRUCTORIO o de los de sus asociados, así como a cualquier persona que se
                ponga en contacto con INSTRUCTORIO o le haga llegar información de algún otro modo.
                <br>
                <br>
                INSTRUCTORIO, en cumplimiento de lo definido en la Ley 1581 de 2012, le informa que los datos personales
                que usted suministre en virtud de las operaciones que solicite o celebre con INSTRUCTORIO, serán
                tratados mediante el uso y mantenimiento de medidas de seguridad técnicas, físicas y administrativas a
                fin de impedir que terceros no autorizados accedan a los mismos, lo anterior de conformidad a lo
                definido en la Ley.
                <br>
                <br>
                El responsable de sus datos personales es INSTRUCTORIO y serán utilizados para:
            </p>
        </div>
        <div class="row" align="justify">
            <ol>
                <li><p class="flow-text">Actividades de registro, operación y seguimiento.</p></li>
                <li><p class="flow-text">Enviar comunicaciones exigidas por ley, así como de nuestros eventos y
                        servicios.</p></li>
                <li><p class="flow-text">Realizar actividades de Marketing o prospección comercial.</p></li>
                <li><p class="flow-text">Realizar una comprobación de antecedentes penales, judiciales y
                        profesionales.</p></li>
                <li><p class="flow-text">Informar al usuario sobre quién y dónde se prestara el servicio, en caso de
                        adquirirlo.</p></li>
            </ol>
        </div>
        <div class="row" align="justify">
            <p class="flow-text">
                INSTRUCTORIO es responsable por la privacidad de su información y sus datos, a menos que ocurra un
                ataque informático o si INSTRUCTORIO es víctima de algún hacker o delito de esta índole sobre el cual
                no tenemos control.
                <br>
                <br>
                INSTRUCTORIO se reserva el derecho de ajustar, cambiar, modificar, eliminar o agregar alguna clausula o
                disposición del presente sin previo aviso; es responsabilidad del usuario revisar periódicamente el
                presente documento.
            </p>
        </div>
        <h5><strong>RESPONSABILIDAD DEL PORTAL</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea
                expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen
                desde el Portal, exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente
                con la medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna
                respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y
                servicios del Portal.
                <br>
                <br>
                En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse
                a la información y/o servicios prestados o suministrados por terceros diferentes de INSTRUCTORIO. Toda
                responsabilidad será del tercero ya sea proveedor o prestador del servicio.
            </p>
        </div>
        <div class="row" align="justify">
            <ol>
                <li><p class="flow-text">INSTRUCTORIO es un servicio de conexión de usuarios con potenciales clientes
                        que desean tomar clases en diferentes áreas.</p></li>
                <li><p class="flow-text">La labor de INSTRUCTORIO es facilitar el contacto entre usuarios con
                        potenciales clientes y servir como medio de reserva de clases entre los mismos.</p></li>
                <li><p class="flow-text">INSTRUCTORIO no tiene el control sobre la puntualidad o cualquier otro aspecto
                        previsto exclusivamente por quienes prestan los servicios.</p></li>
                <li><p class="flow-text">INSTRUCTORIO no tiene responsabilidad sobre la calidad, experiencia e idoneidad
                        de los eventuales servicios que presten los Instructores.</p></li>
                <li><p class="flow-text">Los servicios que eventualmente sean contratados, serán de exclusiva
                        responsabilidad de las partes e INSTRUCTORIO no tendrá responsabilidad ni control sobre los
                        mismos.</p></li>
                <li><p class="flow-text">INSTRUCTORIO realiza verificaciones de antecedentes penales, judiciales y
                        profesionales de cada usuario, que esté a su alcance poder efectuar.
                    </p></li>
                <li><p class="flow-text">INSTRUCTORIO no puede confirmar que cada usuario es quien dice ser.</p></li>
                <li><p class="flow-text">Usted al registrarse en INSTRUCTORIO, pasa por un proceso de aplicación y de
                        VALIDACION de antecedentes penales, judiciales y profesionales.</p></li>
            </ol>
        </div>
        <div class="row" align="justify">
            <p class="flow-text">
                Teniendo en cuenta las condiciones mencionadas anteriormente, INSTRUCTORIO se excluye de cualquier
                responsabilidad en relación con todas las acciones de usuarios y terceros que usan los servicios,
                incluida la utilización o intercambio de cualquier información o archivos entre usuarios y clientes
                potenciales. Al interactuar con otros usuarios se debe tener cuidado, diligencia, precaución,
                protección y sentido común para proteger la seguridad personal, del mismo modo que en la interacción
                con otras personas desconocidas.
            </p>
        </div>
        <h5><strong>PRECIO DE LOS SERVICIOS DE LOS INSTRUCTORES</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                El precio por el servicio contratado será el previamente acordado entre el Instructor y el cliente y en
                dicha negociación no tendrá responsabilidad ni injerencia INSTRUCTORIO. El pago de dichos servicios será
                responsabilidad de quien reciba el servicio y la efectividad de los mismos, será garantizado
                directamente por el prestador del servicio.
                <br>
                <br>
                En ningún caso INSTRUCTORIO responderá por el pago de servicios prestados, ni por la calidad de los
                servicios ofrecidos por instructores contactados a través de INSTRUCTORIO.
            </p>
        </div>
        <h5><strong>TERMINACIÓN</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                INSTRUCTORIO se reserva el derecho, a su exclusiva discreción, de borrar toda la información que se haya
                incluido en el Portal y de terminar inmediatamente su registro y acceso a este o a determinados
                servicios, ante el incumplimiento de estos Términos y Condiciones por parte de los usuarios o ante la
                imposibilidad de verificar o autenticar cualquier información que estos hayan presentado en el registro
                para acceder al Portal. También procederá a lo anterior cuando sea necesario para la protección de
                derechos de terceros o medie orden judicial.
            </p>
        </div>
        <h5><strong>INFORMACIÓN ADICIONAL</strong></h5>
        <div class="row" align="justify">
            <p class="flow-text">
                INSTRUCTORIO no garantiza que el portal opere libre de errores o que su servidor se encuentre libre de
                virus de computadores u otros mecanismos dañinos. Si el uso del portal o del material resulta en la
                necesidad de solicitar servicio de reparación o mantenimiento a sus equipos o información o de
                reemplazar sus equipos o información, INSTRUCTORIO no es responsable por los costos que ello implique.
                <br>
                <br>
                El portal y el material se ponen a disposición de los usuarios en el estado en que se encuentren. No se
                otorga garantía alguna sobre la exactitud, confiabilidad u oportunidad del material, LA INFORMACION, los
                servicios, los textos, el software, las gráficas y los links o vínculos.
                <br>
                <br>
                En ningún caso, INSTRUCTORIO, sus aliados o cualquier persona mencionada en el portal, será responsable
                por daños de cualquier naturaleza, resultantes del uso o la imposibilidad de usarlos.
            </p>
        </div>
        <div class="row" align="justify">
            <h5><strong>RECONOZCO QUE HE LEÍDO Y ENTENDIDO LAS CONDICIONES ANTERIORES DE USO Y ACEPTO QUE MI USO DEL
                    SERVICIO ES UN RECONOCIMIENTO DE MI ACUERDO A RESPETAR LOS TÉRMINOS Y CONDICIONES AQUÍ
                    DESCRITOS</strong></h5>
        </div>
        <% } %>
    </div>
</main>

<%- include footer.ejs %>