<%- include header.ejs %>

<main>
    <div class="container">
        <h4>Activación de la cuenta</h4>
        <% if (success) { %>
        <p class="flow-text green-text">Felicitaciones</p>
        <p class="flow-text"><%= message %></p>
        <a href="/login"><p class="flow-text">Ingresa ahora</p></a>
        <% } else { %>
        <p class="flow-text red-text">Oh no!</p>
        <p class="flow-text"><%= message %></p>
        <% } %>
    </div>
</main>

<%- include footer.ejs %>